<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <header class="main-header">
    <%- include('../partials/header.ejs') %>
  </header>
  <section class="container content-section">
    <h2 class="section-header">Livres</h2>
    <div class="shop-items">
      <% if (books) { %>
      <% books.forEach(book => { %>
      <%- include('../partials/shop-item.ejs', { book }) %>
      <% }) %>
      <% } %>
    </div>
  </section>
  <%- include('../partials/modal.ejs') %>
  <footer class="main-footer">
    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/notify.ejs') %>
  </footer>
  <script type='text/javascript' src="home.js" async></script>
</body>

</html>